extends layout

block content
    main
        h1 Showing results for #{location}
        ul.businesses-ul
            each business in businesses
                li.business-title(data-location=business.id)
                    img.business-image(src=business.image_url)
                    h2.business #{business.name}:
                    p.description Description
                    h3.attendance Attending:
                    p.number
                    if(user)
                        button(class="choice" type='submit' data-location=business.id data-attending='false') I'm going
                    else
                        button(disabled) I'm going
                hr
            else
                li No business were found near your location.
block script    
    script(type='text/javascript' src='../javascripts/results.js')